.herosection {
  width: 100%;
  min-height: 500px;
  background-image:
    linear-gradient(to right,
      rgba(30, 141, 135, 0.7) 0%,
      /* Teal with 70% opacity on the left */
      rgba(30, 141, 135, 0.5) 50%,
      /* Teal with 50% opacity in the center */
      rgba(0, 0, 0, 0.5) 100%
      /* Black with 50% opacity on the right */
    ),
    url('./Images/herosection.avif');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}

.herosection h1,
.herosection p {
  text-align: left;
  color: #fff;
}

.herosection p {
  font-size: 24px;
  line-height: 28px;
}

.herosection .container {
  text-align: center;
  width: 100%;
  color: #fff;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.herosection .container span {
  font-size: 18px;
}

.btn-area {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  padding-top: 10px;
}
.btn-area button {
  padding: 10px 30px;
}