.products{
    width: 100%;
    min-height: 300px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background-color: #ECFFFE;
}
.products .container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.products-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:30px
}
.product-category-card{
    max-width: 320px;
    width:100%;
    border: 3px solid #1E8D87;
    background-color: #fff;
    min-height:170px;
    border-radius: 12px;
    color:#000;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap:10px;
    transition: all ease 0.2s;
}
.product-category-cardcard ul{
    list-style: none;
    display: flex;
    gap: 14px;
    padding-top: 10px;
    text-align: center;
    flex-direction: column;
}

.product-category-card h2{
    color: #000;
}
.product-category-card a{
    text-decoration: none;
    color: #1E8D87;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-weight: bold;
    line-height: 20px;
}
.product-category-card:hover{
    cursor: pointer;
    opacity: 0.9;
    transform: translateY(-2px);
}