.aboutus{
    width: 100%;
    min-height: 500px;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 50px 0;
}
.aboutus .container{
    width:100%;
}
.abt-img{
    width:calc(50%-10px);
}
.aboutus-content{
    width:100%;
    align-items: center;
    display: flex;
    gap:50px;
}
.aboutus-content img{
    max-width: 500px;
    padding: 0 20px;
}
.aboutus-txt{
    display: flex;
    width:calc(50%-10px);
    flex-direction: column;
    gap:20px;
    /* justify-content: space-between;  */
}
.why-list{
    display: flex;
    flex-direction: column;
    gap:10px;
    padding-left: 20px;
}
.why-list li span{
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
}
.about-txt span{
    font-size: 14px;
}
.aboutus-txt p{
    color: #000000cb;
    /* padding-top: 10px; */
}

@media screen and (max-width:805px) {
    .aboutus-content img{
        max-width:400px;
        /* margin-top: 40px; */
    }
}

@media screen and (max-width:950px) {
    .aboutus-content{
        flex-direction: column;
    
    }
    
}