.contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
    
}
.map{
    width:100%;
    max-height: 300px;
}
.contactus .container{
    width:100%;
}
.contact-all{
    border-radius: 12px;
    background-color: #1E8D87;
    width:100%;
    height: 100%;
    display: flex;flex-direction: column    ;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    padding:40px;
    gap:20px;
}
.contact-content{
    display: flex;
    flex-direction: column;
    max-width: calc(80% - 10px);
    width: 100%;
    text-align: center;
    gap:10px;
    color: #fff;
}
.contact-content p{
    font-size: 36px;
    line-height: 36px;
}
.contact-all button{
        padding: 10px 30px;
}
@media screen and (max-width:950px) {
    .contact-all{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
}
@media screen and (max-width:650px) {
    .contact-content p{
        font-size: 28px;
        line-height: 28px;
    }
}