@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1240px;
    padding: 0 20px;
}

.logo {
    width: 120px;

}

.logo img {
    width: 100%;
}

span {
    font-size: 16px;
    line-height: 1.4;
    color: #656565;
}

p {
    font-size: 16px;
    line-height: 1.4;
    color: #656565;
}

section {
    padding: 50px 0;
}

h1 {
    font-size: 52px;
    line-height: 52px;
}

h3 {
    font-size: 48px;
    line-height: 48px;
    color: #0F3A37;
}

h2 {
    font-size: 24px;
    line-height: 26px;
}

h4 {
    font-size: 32px;
    color: #0F3A37;
    margin-bottom: 20px;
}

h5 {
    font-size: 18px;
    line-height: 1.4;
    color: #000;
}

.heading {
    text-align: center;
    margin-bottom: 45px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

/* .heading::after{
    content: '';
    width: 100px;
    height: 2px;
    background-color: #331C08;
    position: absolute;
    bottom: -14px;

} */

a {
    text-decoration: none;
}

.main-btn {
    padding: 10px 30px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30px;
    background-color: #1E8D87;
    font-size: 16px;
    color: #fff;
}

.main-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.light {
    background: none;
    border: 1px solid #fff;
}

.white {
    background-color: #fff;
    color: #1E8D87;
}

.light a,
.main-btn a {
    color: #fff;
}

.white a {
    color: #1E8D87;

}

@media screen and (max-width:790px) {
    span {
        text-align: center;
    }
    
    p, h1,  h3, h2, a, h4, a, h4, h5{
        text-align: center !important;
    }

     a {
        display: flex;
        justify-content: center;
    }
    
}
@media screen and (max-width:550px) { 
    h2{
        font-size: 22px;
    }
    h3{
     font-size: 40px;
    }
}